@mixin border {
  border: 3px solid #ffffff;
  border-radius: 5px;
}

@mixin highlight {
  cursor: pointer;
  background-color: #464646;
}

.invisible {
  visibility: hidden;
}

.battleUI {
  // @include border;

  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  // box-sizing: border-box;

  // margin: 0 0 0 5px;
  padding: 10px 5px;

  // background-color: #000000;

  font-size: large;

  &_enemy {
    @include border;

    padding: 0 5px;
    margin-bottom: 10px;

    background-color: #000000;
  }

  &_img {
    // display: block;
    width: 300px;

    margin: 0 auto;
  }

  &_middle {
    display: flex;
    justify-content: flex-end;
  }

  &_menu {
    @include border;
    // position: absolute;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 20%;
    height: max-content;
    // margin-left: auto;
    padding: 0 5px 10px;

    background-color: #000000;

    .menu_name {
      margin: 5px 0;

      &:hover {
        cursor: default;
        background-color: #000000;
      }
    }

    & > div:hover {
      @include highlight;
    }
  }

  &_confirm {
    @include border;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);

    width: max-content;
    margin: 0 auto;
    padding: 10px 25px;

    background-color: #000000;

    .confirm_title {
      margin-bottom: 10px;
      &:hover {
        cursor: default;
        background-color: #000000;
      }
    }

    & > div:hover {
      @include highlight;
    }
  }
}
